@page
@{
    ViewData["Title"] = "Home";
}

<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <p class="location">Kyiv, Ukraine</p>
        <h1>Find Your Next <br /> Coworking space</h1>
        <p class="subtitle">
            Discover a coworking space designed for innovators, <br />
            creators and entrepreneurs
        </p>
        <a href="/Booking" class="cta-btn">Find a seat</a>
    </div>
</section>